.card {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  margin-bottom: 10px;
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.space {
  margin-right: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}
